 body {
     font-family: Arial, Helvetica, sans-serif;
 }

 /* HEADER */
 header {
     background-color: rgb(248, 248, 243);
 }

 nav {
     display: flex;
     justify-content: space-between;
     margin: 0% 15%;
     padding-top: 0.5%;
 }

 header nav ul {
     list-style: none;
     padding-top: 0.8em;
 }

 header nav ul li {
     display: inline-block;
     margin-left: 20px;
 }

 header nav a {
     text-decoration: none;
     color: black;
     font-size: 0.8em;
 }

 /* MAIN */
 /* HERO */

 .contendor_fondo {
     height: 90vh;
     background-color: rgb(248, 248, 243);

 }

 .hero {
     background-image: url(images/fondo.jpeg);
     background-size: cover;
     height: 50%;
     background-position: 0 -11em;
     background-attachment: fixed;
     color: white;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: rgb(110, 110, 115);
     background-blend-mode: multiply;
 }

 .hero h1 {
     font-size: 3em;
     font-weight: bold;
     text-shadow: 0 0.015em 0.02em black;
     margin-bottom: 0.600em;
 }

 .hero h3 {
     font-size: 1.2em;

     text-shadow: 0 0.015em 0.02em black;
 }

 .hero a {
     display: inline-block;
     text-decoration: none;
     color: white;
     margin-top: 1em;
     margin-left: 1em;
     padding: 0.4em;
     border-radius: 5%;
 }

 .left_click {
     border: 1px solid black;
     background-color: gray;
 }

 .right_click {
     border: 1px solid cyan;
 }


 /* FLEXBOX */
 .flexbox {
     width: 70%;
     margin: 0 auto;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     border-top: 0.250em solid yellow;
     background-color: white;
     position: fixed;
     bottom: 10%;
     right: 10%;
     left: 10%;
 }

 .flexbox article {
     width: 33.33%;
 }

 /*
.hero {
    background-image: url(images/fondo.jpeg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(110, 110, 115);
    background-blend-mode: multiply;
    color: white;
    height: 50vh;
    background-size: cover; */
 /* background-size: 100%; */
 /* background-repeat: no-repeat; */
 /* background-position: 0 -15em;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 3em;
    text-shadow: 0 0.015em 0.02em black;
}

.hero h3 {
    font-size: 1.2em;

    text-shadow: 0 0.015em 0.02em black;
}

.hero a {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin-top: 1em;
    margin-left: 1em;
    padding: 0.4em;
    border-radius: 5%;
}

.left_click {
    border: 1px solid black;
    background-color: gray;
}

.right_click {
    border: 1px solid cyan;
}

.fondo {
    height: 40vh;
    background-color: rgb(248, 248, 243);
}

.contenedor {
    background-color: white;
    position: absolute;
    bottom: 1vh;
    right: 25vh;
    width: 80vw;
    height: 50vh;
}

.decoracion_amarilla {
    width: 100%;
    height: 2.5%;
    background-color: yellow;
}

.flexbox div {
    width: 100%;
}

.flexbox {
    width: 100%;
    display: flex;
    color: gray;
    margin: 0.5em;
    gap: 0.5px;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.flexbox h4 {
    margin-bottom: 0.8em;
}

.flexbox a {
    text-decoration: none;
    color: rgb(0, 100, 251);
} */