header {
    height: 100px;
    background-color: aquamarine;
}



.flexbox {
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;

}

main {
    width: 80%;
    background-color: coral;
    position: relative;
}

.contendor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contendor>article {
    width: 100%;
    background-color: chartreuse;
}

aside {
    width: 20%;
    background-color: chocolate;
}

.amarillo {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: #eecf39
}