header {}



.flexbox {
    display: flex;
    flex-wrap: wrap;
}

main {
    width: 80%;
    position: relative;
}

.contendor {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.contendor>article {
    width: 100%;
    z-index: 2;
}

aside {
    width: 20%;
}

.amarillo {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: #eecf39;
    z-index: 1;
}