body {
    margin-left: 150px;
    margin-right: 100px;
}

header {
    margin-bottom: 50px;
    margin-left: 80px;
}

p,
a {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1,
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 3em;
    font-weight: bold;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

main {
    width: 50%;
    position: relative;
}

.contendor {
    width: 100%;
    height: 100%;
    display: flex;
    /* margin: 50px; */
    /* justify-content: center; */
    align-items: center;
    /* justify-content: space-evenly; */
}

.contendor>article {
    width: 80%;
    z-index: 2;
}

.contendor h3 {
    font-size: 1.8em;
    font-weight: bold;
    margin: 0.5em 0.8em;
}

.contendor p {
    margin: 0.5em 0.8em;
}

aside {
    width: 40%
}

.amarillo {
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    background-color: #eecf39;
    z-index: 1;
}

img {
    width: 16em;
}

figure {
    text-align: center;
}

aside article {
    height: 50%;
    margin-left: 5em;
    margin-right: 10em;
    /* padding: 0 10em; */
    color: rgb(50, 50, 50);
}

aside h3 {
    margin-top: 2em;
    margin-bottom: 1em;
}

aside p {
    margin-bottom: 1em;
}

aside a {
    text-decoration: underline;
    text-underline-offset: 0.6em;
    color: rgb(50, 50, 50);
}