body {
    margin: 20px 20px 20px 60px
}

header {
    width: 100%;
    height: 100px;
    background-color: cornflowerblue;
}

.flexbox {
    display: flex;
    flex-direction: row;
}


main {
    width: 70%;
    height: 500px;
    background-color: aquamarine;
    display: flex;
    justify-items: center;
}

.amarillo {
    width: 100%;
    height: 100px;
    bottom: 100%;
    background-color: #eecf39;
    z-index: -1;
}

aside {
    width: 30%;
    height: 500px;
    background-color: antiquewhite;
}

main article {
    background-color: brown;
    width: 50%;
    height: 200px;
    margin: 10px
}